:root {
  --bg-color: #FFFFFF;
  --header-color: #FFFFFF;
  --footer-color: #f5fbfc;
  --bg-color-second: #f5fbfc;
  --text-color: #1C1C1C;
  --heading-color: #35B8BE;
  --accent-color: #35B8BE;
  --card-bg: #FFFFFF;
  --border-color: #E0E0E0;
  --input-color: white;
  --footer-background: url("../assets/footer-background.svg");
  --price-cart: #008080;
}

[data-theme="dark"] {
  --bg-color: #13272A;         
  --header-color: #13272A;
  --bg-color-second: #121212;
  --footer-color: #121212;
  --text-color: #E6F2F3;       
  --heading-color: #35B8BE;    
  --accent-color: #D1F3F5;     
  --card-bg: #13272A;          
  --border-color: #244044;
  --input-color: #4e8994;
   --footer-background: url("../assets/footer-background-dark.svg");
   --price-cart: #f5fbfc;
}
