.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 15px 50px;
}

.logo img {
  height: 40px;
  width: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-links a.menu-link {
  color: #35b8be;
}
.cart {
  margin-top: -20px;
  position: relative;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
